html,
body {
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-size: 1em;
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 100;
  background: #c1d4e0;
  color: #5e7080;
  cursor: url("https://s3-us-west-2.amazonaws.com/materialist-images/assets/light_copy.png"), default;
}
